src/main/resources/xsd/approval.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://external.system/approval"
           xmlns:tns="http://external.system/approval"
           elementFormDefault="qualified">

    <xs:element name="approveRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="docId" type="xs:string"/>
                <xs:element name="requesterId" type="xs:string"/>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="content" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="approveResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:string"/>
                <xs:element name="message" type="xs:string"/>
                <xs:element name="externalId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>