src/main/resources/wsdl/payment.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="http://external.system/payment"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        targetNamespace="http://external.system/payment"
>

    <!-- ============================= -->
    <!-- 1. TYPES (XSD) -->
    <!-- ============================= -->
    <types>
        <xs:schema targetNamespace="http://external.system/payment">

            <!-- Request -->
            <xs:element name="paymentRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="paymentId" type="xs:string"/>
                        <xs:element name="userId" type="xs:string"/>
                        <xs:element name="amount" type="xs:string"/>
                        <xs:element name="currency" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Response -->
            <xs:element name="paymentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:string"/>
                        <xs:element name="message" type="xs:string"/>
                        <xs:element name="externalId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </types>

    <!-- ============================= -->
    <!-- 2. MESSAGE -->
    <!-- ============================= -->
    <message name="PaymentRequestMessage">
        <part name="parameters" element="tns:paymentRequest"/>
    </message>

    <message name="PaymentResponseMessage">
        <part name="parameters" element="tns:paymentResponse"/>
    </message>

    <!-- ============================= -->
    <!-- 3. PORT TYPE -->
    <!-- ============================= -->
    <portType name="PaymentPortType">
        <operation name="processPayment">
            <input message="tns:PaymentRequestMessage"/>
            <output message="tns:PaymentResponseMessage"/>
        </operation>
    </portType>

    <!-- ============================= -->
    <!-- 4. BINDING -->
    <!-- ============================= -->
    <binding name="PaymentBinding" type="tns:PaymentPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="processPayment">
            <soap:operation soapAction="processPayment"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- ============================= -->
    <!-- 5. SERVICE -->
    <!-- ============================= -->
    <service name="PaymentService">
        <port name="PaymentPort" binding="tns:PaymentBinding">
            <soap:address location="http://localhost:8080/payment"/>
        </port>
    </service>

</definitions>